body {
	font-family: sans-serif;
	text-align: left;
	margin: 0.0000001em;
	background: cornsilk;
}

.article {
	padding: 24px;
	max-width: 680px;
	margin: 0px auto;
}

.article__heading--verified {
	margin: 0 0 1.5rem 0;
	color: palevioletred
}

.article__lead {
	font-weight: 700;
	text-transform: uppercase;
	font-style: italic;
	font-family: serif;
}

.article__figure {
	margin: 0 auto;
}

.figure__image {
	max-width: 100%;
}

.figure__caption {
	padding: 8px 0 0;
	font-style: italic;
	text-align: center;
}